<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>엔터 이듬</title>
  <link rel="stylesheet" href="/src/styles/tailwind.css">

</head>
<body>
  <div class="swiper w-[20rem] flex flex-shrink" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide "><img src="/src/assets/swiperImage/img.png" alt="상품 이미지"></div>
      <div class="swiper-slide"><img src="/src/assets/swiperImage/img.png" alt="상품 이미지" ></div>
      <div class="swiper-slide"><img src="/src/assets/swiperImage/img.png" alt="상품 이미지"></div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
  </div>

  <script src="/src/components/Swiper/swiper.js" type="module"></script>
</body>
</html>