<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" sizes="48x48" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="android-icon.png" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <title>Round Button 컴포넌트</title>
  </head>
  <body>
    <!-- 아이콘이 있는 Round Button -->
    <button
      class="pl-8 pr-[10px] py-1.5 text-paragraph-sm font-normal rounded-full bg-white border border-contents-content-tertiary bg-home-icon bg-[10px_center] bg-no-repeat hover:brightness-95 transition-all duration-300"
    >
      레이블
    </button>

    <!-- 아이콘이 없는 Round Button -->
    <button
      id="RoundButton"
      class="px-2.5 py-1.5 text-paragraph-sm font-normal rounded-full bg-white border border-contents-content-tertiary hover:brightness-95 transition-all duration-300"
    >
      레이블
    </button>
  </body>
</html>
