.skeleton-loading {
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #ededed 38%,
    #ededed 40%,
    #e5e5e5 48%
  );
  border-radius: 0.25rem;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 1s infinite;
}

.noround {
  border-radius: 0 !important;
}

.roundmd {
  border-radius: 8px !important;
}
.circle {
  border-radius: 50% !important;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
