<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" sizes="48x48" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="android-icon.png" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <title>엔터 이듬</title>
  </head>
  <body>
    <form action="/" class="w-full min-w-screen max-w-screen grow">
      <label for="contentName" class="sr-only">컨텐츠 이름</label>
      <div class="flex flex-col">
        <input
          type="text"
          id="contentName"
          class="p-2 border rounded-[4px]"
          placeholder="아무 이름적어주세요"
        />
        <span
          aria-label="입력한 문자 수"
          aria-live="polite"
          class="block text-contents-content-tertiary text-paragraph-sm  self-stretch text-right w-full grow"
          id="letterCount"
          >0/24</span
        >
      </div>
    </div>
  </form>

    <script type="module" src="/src/components/textInput/textInput.js"></script>
  </body>
</html>
