<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" sizes="48x48" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="/android-icon.png" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <title>모달 컴포넌트</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <!-- alert 원버튼 모달 -->
      <dialog
        class="bg-white shadow-lg backdrop:bg-black backdrop:bg-opacity-40 rounded-3xl"
      >
        <div class="w-[233px] px-[18px] py-5 flex flex-col items-center gap-5">
          <p class="text-label-medium font-semibold leading-[150%]">
            원버튼 모달 제목
          </p>
          <span
            class="text-paragraph-small text-contents-content-secondary leading-[160%]"
            >모달 본문입니다.</span
          >
          <button
            class="w-full h-9 bg-secondary text-white text-label-medium font-semibold leading-[150%] rounded hover:bg-blue-400 transition-all duration-300"
          >
            확인
          </button>
        </div>
      </dialog>

      <!-- alert 투버튼 모달 -->
      <dialog
        class="bg-white shadow-lg backdrop:bg-black backdrop:bg-opacity-40 rounded-3xl"
      >
        <div class="w-[233px] px-[18px] py-5 flex flex-col items-center gap-5">
          <p class="text-label-medium font-semibold leading-[150%]">
            투버튼 모달 제목
          </p>
          <span
            class="text-paragraph-small text-contents-content-secondary leading-[160%]"
            >모달 본문입니다.</span
          >
          <div class="flex w-full justify-between gap-[6px]">
            <button
              class="w-full h-9 bg-gray-100 text-black text-label-medium font-semibold leading-[150%] rounded hover:bg-gray-300 transition-all duration-300"
            >
              이전
            </button>
            <button
              class="w-full h-9 bg-secondary text-white text-label-medium font-semibold leading-[150%] rounded hover:bg-blue-600 transition-all duration-300"
            >
              확인
            </button>
          </div>
        </div>
      </dialog>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
