<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <title>엔터 이듬</title>
  </head>
  <body>
    <div
      role="profileTemperatureGroup"
      class="p-2.5 border-4 min-w-[280px] max-w-[430px] w-full"
    >
      <div role="profile">
        <img src="/src/assets/image.jpeg" alt="이미지 설명" class="w-10 h-10" />
      </div>
      <div role="temperature"></div>
    </div>
  </body>
</html>
