<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" sizes="48x48" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="/android-icon.png" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <script
      type="module"
      src="/src/pages/login/test/ValidationInput.js"
    ></script>
    <title>유효성검사 인풋</title>
  </head>
  <body class="min-h-screen">
    <div class="relative min-w-screen max-w-screen w-full mx-auto">
      <div class="valid-input-box"></div>
      <div class="valid-input-box"></div>
      <div class="valid-input-box"></div>
    </div>
  </body>
</html>
